<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="static/images/arcon.32x32.jpeg">
    <link rel="stylesheet" href="static\css\styles.css">
    <link rel="stylesheet" href="static\css\game page.css">
    <link rel="stylesheet" href="static\css\logins.css">
    <title>Genshin Impact</title>
  </head>
  <body>

    <header>
      <nav>
        <h1>ArconHUB</h1>
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
        <ul class="menu">
          <li><a href='/' class="navlink">Home</a></li>
          <li><a href="#" class="navlink">Shop</a></li>
          <li><a href="/about" class="navlink">About</a></li>
          <li><a href="#" class="navlink">Contact</a></li>
        </ul>
        <ul>
          <li><a href="/login" class="login-signup">LOGIN / SIGNUP</a></li>
        </ul>
      
      </nav>
    </header>

    <div class="container">
      <div class="section container">
        <h3>1.) Input Data Game</h3>
        <div class="input-row">
          <input type="number" placeholder="Input User ID" class="input-box" />
          <select class="input-box">
            <option>Select Server</option>
            <option>Asia</option>
            <option>Europe</option>
            <option>America</option>
            <option>Tw,Hk,Mo</option>
          </select>
          <div class="sidebar">
            <img
              src="static/images/Genshin_Impact.png"
              alt="Genshin Impact"
              width="200px"
              class="game-image"
            />
            <div class="instructions">
              <h3>
                How to Top Up the cheapest Genshin Impact Genesis Crystal:
              </h3>
              <ol>
                <li>Enter ID & Server</li>
                <li>Select grid-item</li>
                <li>Select Payment</li>
                <li>Enter WhatsApp No</li>
                <li>Click Confirm Top Up & make Payment</li>
                <li>
                  Genesis Crystal is automatically logged into the game account
                </li>
              </ol>
            </div>
          </div>
        </div>
        <p class="instruction">
          Please enter your User ID & Server and make sure it is correct.
          Example: 123456789|server-asia.
        </p>
      </div>

      <h3>2.) Select Service Amount</h3>

      <div class="Items grid-container">
        {% for package in packages %}
        <button class="box grid-item">
          <a href="#" class="Item__link">
            <div class="product-container" style="display: block">
              <img
                src="static/images/Item_Genesis_Crystal.webp"
                alt="Package Image"
                class="Image"
              />
              <span class="Item__title">{{ package.title }}</span>
            </div>
            <span class="Item__price">{{ package.price }}</span>
          </a>
        </button>
        {% endfor %}
        <button class="box grid-item">
          <a href="#" class="Item__link">
            <div class="product-container" style="display: block">
              <img
                src="static/images/srnhhu9cip971.webp"
                alt="#"
                class="Image"
                ;
              />
              <span class="Item__title"> welkin moons</span>
            </div>
            <span class="Item__price">₹ 379</span>
          </a>
        </button>
      </div>

      <footer>
        <div class="footer-container">
          <p>&copy; 2024 ArconHUB. All Rights Reserved.</p>
          <ul>
            <li>
              <a href="https://www.instagram.com/arcon_store/">About Us</a>
            </li>
            <li><a href="https://wa.link/agt1r4">Contact</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
  <script>
     function toggleMenu() {
    const menu = document.querySelector('.menu');
    menu.classList.toggle('open');
  }

    document.querySelectorAll(".grid-item").forEach((item) => {
      item.addEventListener("click", function () {
        // Remove active class from all grid items
        document
          .querySelectorAll(".grid-item")
          .forEach((el) => el.classList.remove("active"));

        // Add active class to the clicked item
        this.classList.add("active");
      });
    });
  </script>
</html>
