<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/images/arcon.32x32.jpeg">
    <link rel="stylesheet" href="static/css/game page.css">
    <title>Honkai Star Rail</title>
</head>
<body>

    <div class="nav-container">
        <header>
          <div class="logo">ArconHUB</div>
          <nav>
              <a href='/'>HOME</a>
          </nav>
          <nav>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}" class="login-signup">Hi, {{ current_user.username }}</a></li>
        {% else %}
        <a href="/login" class="login-signup">LOGIN / SIGNUP</a>
    {% endif %}
        </nav>  
      </header>
      </div>
      <div class="container">
        <div class="section">
            <div class="sidebar">
                <h3>1.) Input Data Game</h3>
                <div class="input-row">
                    <input type="number" placeholder="Input User ID" class="input-box">
                    <input type="number" placeholder="Input Server ID" class="input-box">
                </div>
                <img src="static/images/hsr logo.jpg" alt="Honkai Star Rail" width="200px" class="game-image">
                <div class="instructions">
                    <h3>How to Top Up Honkai Star Rail Oneiric Shards:</h3>
                    <ol>
                        <li>Enter ID & select Server</li>
                        <li>Select grid-item</li>
                        <li>Select Payment</li>
                        <li>Click Confirm Top Up & make Payment</li>
                        <li>Oneiric shards are automatically transferred to your game account</li>
                    </ol>
                </div>
            </div>
            <p class="instruction">
                Please enter your User ID & Server and make sure it is correct. Example: 123456789|server-asia.
            </p>
        </div>

        <div class="section">
            <h3>2.) Select Service Amount</h3>
            <div class="Items grid-container">
                {% for package in packages %}
                <button class="box grid-item" onclick="selectItem('{{ package.title }}')">
                  <a href="#" class="Item__link">
                    <div class="product-container">
                        <img src="static/images/shards.png" alt="Shards" class="Image">
                        <span class="Item__title">{{ package.title }}</span>
                      </div>
                        <span class="Item__price">{{ package.price }}</span>
                  </a>  
                </button>
                {% endfor %}

                <button class="box grid-item pass ">
                  <a href="#" class="Item__link">
                    <div class="product-container" style="display: block;">
                    <span class="Item__title">Express Supply pass</span>
                  </div>
                  <span class="Item__price color_change">₹ 400</span>
                  
                  </a>
                </button>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.grid-item').forEach(item => {
            item.addEventListener('click', function() {
                // Remove active class from all grid items
                document.querySelectorAll('.grid-item').forEach(el => el.classList.remove('active'));

                // Add active class to the clicked item
                this.classList.add('active');
            });
        });
    </script>
</body>
</html>